{% extends "base_generic.html" %}
{% block content %}
<h2>Listado de cobradores</h2>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<p></p>
<a class="btn btn-primary" href="{% url 'cobrador_crear'%}">+ Agregar Cobrador </a>
<p></p>
<form method="get">
  <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.get.buscar }}">
  <button type="submit" class="btn btn-success">Buscar</button>
  
</form>
                                                
<table class="tablasocios" style="">
  {% if object_list %}
  <tr>
    <th scope="row">Nombre</th>
    <th>Apellido</th>
    <th>Dni </th>
    <th>Acciones </th>

  </tr>
  {% for cobrador in object_list %}
  <tr>

    <td>{{cobrador.nombre}}</td>

    <td>{{cobrador.apellido}}</td>

    <td>{{cobrador.dni}}</td>

    <td>
    <a class="btn btn-primary" href="{% url 'cobrador_editar' cobrador.id %}">Editar</a>
      <a class="btn btn-danger" href="{% url 'cobrador_eliminar' cobrador.id %}">Eliminar</a>

    </td>


  </tr>
  {% endfor %}
  {% else %}
  <h4>No exisen registros de cobradores</h4>
  {% endif %}

 
</table>
{% endblock %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">