{% extends "base_generic.html" %}
{% block content %}

  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h3>Deudas</h3>
<p></p>
<form method="get">
    <select class="btn btn-primary" id="selectyear" name="select_year" >
        <option  value="" selected="selected">Year</option>
        {% for anio in anios %}
         <option value="{{anio.anio}}"> {{anio.anio}} </option>
        {% endfor %}
      </select>
    <button type="submit" class="btn btn-success">Buscar</button>
    
  </form>

<table class="tablasocios" >
    {% if cuotas %}
    <tr>
     <th scope="row">Apellido</th>
      <th>Nombre</th>
      <th>Cuota N°</th>
      <th>Mes</th>
      <th>Paga</th>
      <th>Fecha de pago </th>
      <th>Total</th>
      <th>Año</th>
      <th>Acciones</th>
 
    </tr>
    {% for cuota in cuotas %}
    <tr>
      <td>{{cuota.socio.apellido}}</td>
      <td>{{cuota.socio.nombre}}</td>
      <td>{{cuota.nrocuota}}</td>
      <td>{{cuota.mes}}</td>
      <td>{{cuota.pago}}</td>

      {% if cuota.fecha_pago != None%}
      <td> {{cuota.fecha_pago }}</td>
      {% else %}
      <td>-</td>
      {% endif %}
      <td>{{cuota.total}}$</td>
      <td>{{cuota.aniocuota}}</td>
      <td>  
        <a class="btn btn-primary" href="">Ver</a>
        <a class="btn btn-primary" href="">Pagar</a>
        <a class="btn btn-danger" href="">PDF</a>
      </td>
  
  
    </tr>
    {% endfor %}
    {% endif %}
  
  </table>

{% endblock %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_select.css' %}">