{% extends "base_generic.html" %}

{% block content %}
</head>

<body>
<p></p>

<h2>Panel de administración</h2>


<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="list-group">
  <a href="{% url 'listado_cobrador' %}" class="list-group-item list-group-item-action list-group-item-info">Cobradores</a>
  <a href="{% url 'anio_crear' %}" class="list-group-item list-group-item-action list-group-item-primary">Agregar año</a>
  <a href="" class="list-group-item list-group-item-action list-group-item-info">Actualizar monto de cuota</a>
  <a href="" class="list-group-item list-group-item-action list-group-item-primary">Socios dados de baja</a>
</div>

{% endblock %}