{% extends "base_generic.html" %}

  
{% block content %}

<h2>Listado de socios dados de baja<a class="btn btn-primary" href=""><span class="glyphicon glyphicon-file"></span></a> </h2>


  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
 
<form method="get">
  <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.get.buscar }}">
  <button type="submit" class="btn btn-success">Buscar</button>
  
</form>
                                                
<table class="tablasocios" style="">
  {% if object_list %}
  <tr>
    <th scope="row">Nombre</th>
    <th>Apellido</th>
    <th>Dni </th>
    <th>Direccion</th>
    <th>Baja</th>
    <th>Acciones</th>
  </tr>
  {% for socio in object_list %}
  <tr>

    <td>{{socio.nombre}}</td>

    <td>{{socio.apellido}}</td>

    <td>{{socio.dni}}</td>
    <td>{{socio.direccion}}</td>
    <td>{{socio.dar_baja}}</td>
    <td>
      <a class="btn btn-primary" href="{% url 'socio_detail' socio.id %}">Registro de pago</a>
    	<a class="btn btn-primary" href="{% url 'socio_editar' socio.id %}">Editar</a>
      <a class="btn btn-danger" href="{% url 'socio_eliminar' socio.id %}">Eliminar</a>
      <a class="btn btn-danger"  href="{% url 'socio_alta' socio.id %}">Dar de alta</a>
      
    </td>


  </tr>
  {% endfor %}
  {% else %}
  <h4>No exisen registros de socios</h4>
  {% endif %}

 
</table>
{% endblock %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">